body {
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

button {
  background-color: lightseagreen;
  cursor: pointer;
  border-radius: 7px;
  padding: 10px;
  margin: 5px auto;
  margin-top: 30px;
  display: block;
  width: 150px;
  border: none;
  box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.mar {
  margin: 30px 0px;
}

.martop {
  margin-top: 30px;
}
